.pageStyles {
    color: #232129;
    font-family: -apple-system, Roboto, sans-serif, serif
}

.headingStyles {
    font-size: 55px;
    text-align: center
}

.textBoxStyles {
    padding-left: 15%;
    padding-right: 15%;
    text-align: center
}

.cardBoxStyles {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly
}

.cardStyles {
    max-width: 250px;
    box-shadow: 7px 7px 10px gray;
    padding: 20px;
    border: 1.5px solid black;
    border-radius: 10px;
}

.boardcardStyles {
    max-width: 250px;
    padding: 10px 5px 75px 5px;
}

.titleFont {
    font-size: 1.5vw
}

.descriptionFont {
    font-size: 1.2vw
}

@media (max-width: 600px) {
    .cardBoxStyles {
        display: grid;
        grid-template-columns: auto;
        grid-row-gap: 30px
    }
    .titleFont {
        font-size: 15px
    }
    .descriptionFont {
        font-size: 12px
    }
}